<section>
  <div class="container">
    <h2 xmlns="http://www.w3.org/1999/html">Mars Rover Pictures:</h2>

    <mat-form-field>
      <input matInput
        [matDatepicker]="picker"
        [(ngModel)]="requestedDate"
        placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" class="pics-btn" (click)="getPictures()">Get Pictures</button>

    <div *ngIf="(roverPictures$ | async) as pictures">
      <span *ngIf="!pictures.photos.length">No Images Found For Date Selected</span>
     <span *ngFor="let picture of pictures?.photos | slice: 51 : 95">
      <img class="rover-picture" [src]="picture.img_src" />
     </span>
    </div>

  </div>
</section>
